.modak-regular {
  font-family: "Modak", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 5px 3px white;
}
.modak-regular1 {
  font-family: "Modak", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px white;
}
